@import './theme.styl'
.defThemeColor
  theme() //默认的样式
.themea
  theme(#1e90ff, #f6f7f9)
.themeb
  theme(orange, #f6f7f9)
.themec
  theme(#111, #f6f7f9)
.themed
  theme(purple, #f6f7f9)
.themee
  theme(rgba(8, 5, 58, 0.9), #f6f7f9)
.themef
  theme(#eee, #111)